/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  /*margin: 0;*/
  /*padding: 0;*/
  --page_background: rgba(9, 12, 23, 0.9);
  --nav_background: #13131a;
  --panel_background: rgba(12, 14, 31, 0.5);
  --panel_border_color: #612ace; /*#4a4e8d*/
  --container_border_color: #161a3a; /*#16283a*/
  --sub_nav_background_color: rgba(113, 138, 183, 0.1);
  --popup_background_color: rgb(7, 7, 17);
  --highlight_background_color: rgba(33, 48, 79, 0.5);
  --highlight_border_color: rgb(17, 168, 86); /*rgb(255, 204, 0)*/
  --text_color: #d8d8dc;
  --text_bold_color: #dddaef;
  --text_header_color: #f6f6fa;
  --text_target_color: rgba(75, 109, 182, 0.23);

  --link_color: #dcd9e5;
  --disabled_link_color: #4d4d4d;
  /*navigation buttons*/
  --nav_button_background_color: #030303;
  --nav_button_hover_background_color: #383838;
  --nav_button_selected_background_color: #26252a;
  --nav_button_selected_text_color_color: #52545b;

  /*item buttons*/
  --button_background_color: #171944;
  --button_background_hover_color: #2f3269;
  /*main menu*/
  --main_menu_button_color: #050810;
  --main_menu_button_hover_color: #777786;
  --main_menu_button_text_color: #000000;
  /*animations*/
  --button_background_hover_animation: 0.2s ease-out;

  /*tables*/
  --table_odd_row_background_color: rgba(42, 61, 77, 0.3);
  --table_even_row_background_color: rgba(64, 81, 100, 0.3);
  --table_border_color: #22214b; /*#6a748d;*/
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'AlegreyaSansSC';
  src: url('fonts/AlegreyaSansSC/AlegreyaSansSC-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


html, body{
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
  background-image: url(../background/eternity.jpg);
  background-color: var(--page_background);
  background-size: cover;
  background-repeat: repeat-y;
  background-blend-mode: overlay;
  color: var(--text_color);
  font-family: "Noto Sans", sans-serif;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #4c4c4f;
}
*::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
    background: #7c7c7c;
}

a:visited{text-decoration: none;}

p:target{
  background-color: var(--text_target_color);
}
li:target{
  background-color: var(--text_target_color);
  padding: 10px;
}

header{
  padding: 15px 0 15px 0;
  background-color: var(--nav_background);
  list-style-type: none;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-button{ display: none; }

header ul {
  display: flex;
  list-style: none;
  margin: 0 0 0 25px;
  padding: 0;
}
header a{
  padding: 10px;
  margin: 5px;
  color: var(--link_color);
  background-color: var(--nav_button_background_color);
  border-radius: 0;
  font-size: 1.3em;
  text-decoration: none;
  display: inline-block;
  word-break: keep-all;
  transition: background var(--button_background_hover_animation);
}
header a:hover{
  background-color: var(--nav_button_hover_background_color);
  /* color: #18182a; */
}

.navbar-menu a:hover{
   color: var(--link_color);
}
.navbar-menu a.active:hover{
  color: var(--disabled_link_color);
}

header ul li a{
  color: var(--link_color);
}

header a.active {
  background-color: var(--nav_button_selected_background_color);
  color: var(--nav_button_selected_text_color_color);
  font-weight: bold;
}
header a.active:hover {
  cursor: default;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.navbar-toggle span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
  transition: all 0.3s ease;
}

/*header li{*/
/*  display: inline;*/
/*}*/
main header{
  /*padding: 10px;*/
  padding: 10px 0 10px 0;
  background-color: var(--sub_nav_background_color);
  backdrop-filter: blur(10px);
}
main header a{
  margin-left: 15px;
  border-radius: 5px;
  font-size: 1.1em;
  display: inline-block;
}
main header h1{
  color: inherit;
  font-size: 0.8rem;
}

p{
  margin: 6px;
  font-size: 16px;
  font-style: normal;
}

.big{
  font-size: 23px;
}
.big b{
  font-size: 25px;
}

p b{
  font-size: 1rem;
}

br{
  /*margin: 5px;*/
}

p::first-letter{
  font-size: 1.2em
}

b{
  color: var(--text_bold_color);
}

li{
  font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6{
  margin: 5px;
  color: var(--text_header_color);
  font-weight: bold;
}

li a{
  color: #7f77bd;
}

li a:hover{
  color: #6c78be;
}

th{
  font-family: "Alegreya Sans SC", "Times New Roman", serif;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: normal;
  font-size: 1.6em;
  /*font-size: 1.6em;*/
  padding: 10px 15px;
}
/*.table-wrapper {*/
/*  width: 100%;*/
/*  overflow-x: auto;*/
/*}*/

/*.table-wrapper table {*/
/*  width: 100%;*/
/*  border-collapse: collapse;*/
/*}*/
@media (max-width: 600px) {
  table {
    border-collapse: separate;
    font-size: 0.3rem;
  }
  table th, table td {
    padding: 0.25rem;
  }
}
@media (max-width: 768px) {
  table {
    border-collapse: separate;
    /*border-spacing: 1;*/
    font-size: 0.4rem;
  }
  table th, table td {
    padding: 0.3rem;
  }
  thead {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}
table{
  font-family: "Open Sans", sans-serif;
}
td:not(:last-of-type){
  padding-bottom: 5px;
}
td{
  padding-left: 5px;
  font-size: 1.15em;
}
tr:nth-child(odd){
  background: var(--table_odd_row_background_color);
}
tr:nth-child(even){
  background: var(--table_even_row_background_color);
}
.table-category-header{
  font-style: italic;
  font-size: 1.3em;
  color: white;
}
.card{
  width: 40%;
  max-width: 95%;
  max-height: 40%;
  overflow-x: hidden;
  overflow-y: clip;
  background-color: var(--panel_background);
  border-radius: 15px;
  border: var(--panel_border_color) solid 1px;
  /*#1b0f46*/
  border-bottom: 0;
  margin: 10px;
  padding: 10px;
  backdrop-filter: blur(5px);
}
.card table{
  border: var(--table_border_color) solid;
  border-radius: 15px;
}
.container {

  /*display: flex;*/
  /*flex-wrap: wrap; !* Перенос на новую строку *!*/
  /*gap: 10px; !* Отступ между элементами *!*/
  width: 85%;
  background: rgba(0, 0, 0, 0.05);
  border: var(--container_border_color) solid 1px;
  border-top: 0;
  border-bottom: 0;
}
.item {
  width: 100%;
  margin-bottom: 50px;
  /* flex: 1 0 auto; /* Элементы растягиваются, но не сжимаются ниже своего размера */
  /* или */
  /*flex: 0 0 30%; !* Фиксированная ширина (200px), но перенос при нехватке места *!*/
}
.item .item{
  border-top: 0;
}
.item .item:not(:last-of-type){
  /*margin-top: 10px;*/
  margin-bottom: 10px;
}
.item .item:not(:first-of-type){
  margin-top: 10px;
}
.item a{
  background: var(--button_background_color);
  color: var(--link_color);
  font-size: 1.2em;
  text-decoration: none;
  margin: 2px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
  transition: background var(--button_background_hover_animation);
}
.item a:hover{
  background: var(--button_background_hover_color);
}
.item:target{
  background-color: var(--highlight_background_color);
  border-width: 4px;
  border-style: dashed;
  border-bottom: solid 1px;
  border-top: solid 1px;
  border-color: var(--highlight_border_color);
}
table:target{
  background-color: var(--highlight_background_color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--highlight_border_color);
}
.wider{
  width: 85%;
  border: #695d47 solid 2px;
  border-radius: 10px;
  border-bottom: 0;
}
.center{
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  justify-self: center;
}
.title{
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}
.subtitle{
  color: white;
  font-size: 0.9em;
  font-style: italic;
}

.artifact-card img{
  float: right;
  width: 256px;
  height: 256px;
}

.carousel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.carousel button{
  border: none;
  cursor: pointer;
  color: white;
  font-size: 4rem;
  height: 100%;
  background: rgba(255, 255, 255, 0.03) none;
  transition: background-color 0.4s ease;
}
.carousel button:hover{
  transition: background-color 0.2s ease;
  background-color: rgba(255, 255, 255, 0.07);
}
.viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.track {
  display: flex;
  height: 100%;
  transition: transform 0.3s ease;
}

.carousel-item {
  display: grid;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.carousel-item .card{
  position: relative;
  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.carousel-item .card img{
  pointer-events: none;
  position: absolute;
  inset: 0;             /* растягивает по всей карточке */
  width: 100%;
  height: 100%;
  object-fit: cover;    /* изображение заполняет и обрезается */
  object-position: center;  /* центрирование */
  z-index: 0;
  filter: brightness(0.5) blur(7px);
  transition: filter 0.4s ease;
}
.carousel-item .card:hover img{
  filter: brightness(0.9) blur(1px);
  transition: filter 0.2s ease;
}
.card-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.15);
  border-radius: 15px;
  margin-bottom: 2rem;
}
.carousel-title{
  font-family: "Cormorant Unicase", serif;
  font-weight: 700;
  font-style: normal;
  white-space: nowrap;
  position: absolute;
  display: block;
  z-index: 1;
  align-self: baseline;
  text-align: center;
  margin-top: 2rem;
  font-size: 3rem;
  color: rgba(255,255,255,0.3);
  /*text-transform: uppercase;*/
}
.card-content h1, p{
  color: var(--text_color);
}
.card-content h1{
  font-size: 2.5rem;
}
.card-content p{
  font-size: 1.4rem;
}
.carousel-item .card:target img{
  filter: brightness(1) blur(0px);
  transition: filter 0.4s ease;
}
.inline-block{
  display: inline-block;
  vertical-align: top;
}
.superior{
  background-color: #4b2121;
}
.superior.active{
  background-color: #371f1f;
}
.superior:hover{
  background-color: #773131;
}
/* адаптация */
@media (max-width: 1024px) {
  .carousel-item {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .carousel-item {
    grid-template-columns: repeat(2, 1fr);
  }
  main header{
    display: none;
  }
  header {
    display: none;
    position: fixed;
    background-color: #140e29;
    font-size: 0.7rem;
    padding-bottom: 15px;
    overflow: auto;
    /*flex-direction: column;*/
    /*padding: 1rem 0 1rem 0;*/
  }
  .header-button{
    position: fixed;
    justify-self: flex-end;
    margin-right: 15px;
    display: block;
    font-size: 2rem;
    z-index: 1001;
    cursor: pointer;
    /*border: 5px solid white;*/
  }
  header ul {
    margin: -5px 0 0;
  }
  header ul li a{
    margin: 4px;
    border-radius: 10px;
  }
  .container {
    width: 95%;
    border: 0;
  }
  .card{
    margin-left: 0;
    border-radius: 5px;
  }
}

@media (max-width: 480px) {
  /* отключение карусели */
  .carousel {
    overflow: auto;
    overflow-x: hidden;
    display: block;
    height: 100vh;
  }

  .viewport, .track {
    overflow: visible;
    height: 1000px;
    display: block;
    transform: none !important;
  }

  .carousel-item {
    min-width: auto;
    height: auto;
    display: block;
  }

  .carousel button {
    display: none;
  }
  .inline-block{
    display: block;
  }

  .carousel-item .card {
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 100%;
  }
  .carousel-item .card img{
    filter: brightness(0.9) blur(1px);
  }
  .carousel-item .card:hover img{
    filter: brightness(1) blur(0px);
  }
  .card-content{
    background-color: rgba(0,0,0,0.3);;
  }
  .card-content h1{
    font-size: 1rem;
  }
  .card-content p{
    font-size: 0.6rem;
  }
  .carousel-title{
    position: sticky !important;
    margin-top: 0;
    font-size: 1rem;
  }
}

.card-full-content{
  display: none;
}
.popup-fade {
  display: none;
}
.popup-fade:before {
  backdrop-filter: blur(10px);
  content: '';
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999;
}
.popup {
  /*position: fixed;*/
  overflow-y: scroll;
  position: absolute;
  align-self: center;
  justify-self: center;
  top: 10%;
  /*left: 50%;*/
  padding: 20px;
  width: 70%;
  /*margin-left: -200px;*/
  background: var(--popup_background_color);
  /*border: 0.5px dashed var(--highlight_border);*/
  border-radius: 5px;
  z-index: 99999;
  opacity: 1;
}
.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: var(--text_color);
  font-weight: bold;
  font-size: 1.6rem;
}

.pc-hidden{
  display: none;
}
.pc-hidden:target{
  display: block;
}

.welcome {  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px 5px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "Creation Newbie Inventory"
    "Actions Newbie Rules";
  font-size: 2.3rem;
  font-family: "Alegreya Sans SC", "Times New Roman", serif;
  backdrop-filter: blur(10px);
}

.welcome > div {
  align-self: stretch;
  justify-self: stretch;
}

.welcome a {
  display: flex;
  padding: unset;
  margin: unset;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--main_menu_button_color);
  transition: 0.2s ease;
}

.welcome a:hover {
  color: var(--main_menu_button_text_color);
  background-color: var(--main_menu_button_hover_color);
}

.Newbie { grid-area: Newbie; }
.Creation { grid-area: Creation; }
.Actions { grid-area: Actions; }
.Inventory { grid-area: Inventory; }
.Rules { grid-area: Rules; }

@media (max-width: 1424px) {
  .welcome{
    font-size: 1.7rem;
    gap: 10px 5px;
  }
}

@media (max-width: 1024px) {
  .welcome{
    font-size: 1.5rem;
    gap: 10px 5px;
  }
  .popup-fade{

  }
  .popup {
    width: 80%;
  }
  .popup-close {
    position: fixed;
    font-size: 2rem;
  }
  .carousel-title{
    font-size: 1.5rem;
  }
  .card-content h1{
    font-size: 1.5rem;
  }
  .card-content p{
    font-size: .7rem;
  }
  .carousel-item {
    gap: 5px
  }
}

@media (max-width: 768px) {
  .welcome{
    font-size: 1rem;
    gap: 5px 5px;
  }
  .popup {
    width: 90%;
  }
  .popup-close {
    font-size: 2rem;
  }
  .carousel-title{
    font-size: 1.5rem;
  }
  .card-content h1{
    font-size: 1.5rem;
  }
  .card-content p{
    font-size: .7rem;
  }
  .carousel-item {
    gap: 5px
  }
  .pc-hidden{
    display: block;
  }
}

@media (max-width: 480px) {
  .welcome{
    font-size: 0.7rem;
    gap: 1px 5px;
  }
  .popup {
    width: 90%;
  }
  .popup-close {
    font-size: 2rem;
  }
}
